/*font*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*retirando os espaçamentos padrões do css*/
body{
    margin: 0;
    padding: 0;   
    font-family: 'Open Sans', sans-serif;
}

/*ESTILIZANDO O CABEÇALHO*/
header{
    display: flex; /*inserindo flexbox*/
    height: 120px;
    justify-content: center;
}

.container{
    width: 990px;
    display: flex;
    justify-content: space-between;
}

.logo{
    display:flex; /*centralizando os itens na div*/
    align-items: center;
}

.menuMobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.menuMobile-line{
    height: 3px;
    background-color: #39aae1;
}

.menu{
    display:flex; /*centralizando os itens na div*/
    align-items: center; 
}

nav ul, nav li{
    list-style: none; /*retira os estilos padrões*/
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex; /*deixa os itens um ao lado do outro*/
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active a, nav a:hover{ /*Deixando um link ativo e inserindo o hover nos outros links*/
    background-color: #39aae1;
    color: #fff;
}

/*BANNER*/

#banner{
    display: flex;
    justify-content: center; /*centrelizar o conteudo do banner*/
    background-image: url('../img/img1.jpg');
    background-repeat: no-repeat; /*para não repetir*/
    background-position: center; /*deixando a imagem centralizada*/
    background-size: cover; /*imagem vai expandir para preencher todo o espaço da div*/
    height: 670px;
}

.column{ /*O que tiver dentro dessadiv vai seguir o alinhamento de coluna*/
    flex-direction: column;
}

.banner_headline{
    flex:1;
    display:flex; /*centralizando os itens na div*/
    flex-direction: column;
    justify-content: center;
}

/*FONTS*/
.banner_headline h1{
    color: #ffffff;
    font-size: 70px;
    text-shadow: 1px 1px 0px #000000;
    margin:0px;
    padding:0px;
    max-width: 350px;
}

.banner_headline h2{
    color: #ffffff;
    font-size: 19px;
    text-shadow: 1px 1px 0px #000000;
    margin:0px;
    padding:0px;
    margin-top: 30px;
    max-width: 350px;
}

.banner_options{
    height: 210px;
    display: flex;
}

/*Divs do banner options*/

.banner-01, .banner-02, .banner-03{
    flex:1;
    color: #ffffff;
    padding: 20px;
}

.banner-01{
    background-color: #39aae1;
}
.banner-02{
    background-color: #0079c7;
}
.banner-03{
    background-color: #2b4c99;
}

.banner-title{
    font-size: 22px;
}

.banner-desc{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 13px;
}

.banner_options a{
    display: inline-block;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
}

.banner-hours{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

/*AREA NOTICIAS*/

#noticias{
    display: flex;
    justify-content: center;
}

#noticias section{
    flex:2;
}

#noticias aside{
    flex:1;
}

.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text{
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar{
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.flex{
    display: flex;
    flex-wrap: wrap; /*para quebrar linha*/
}

article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a{
    text-decoration: none;
}

article .news_data{
    display: flex;
}

article .news_posted_at{
    background-color: #2b4c99;
    color: #ffffff;
    padding: 10px;
    font-size: 12px;
    margin-right: 2px;
}

article .news_commnets{
    background-color: #39aae1;
    color: #ffffff;
    padding: 10px;
    font-size: 12px;
}

article .news_thumbnail{
    margin-top: 30px;
}

article .news_thumbnail img{
    width: 100%;
    height: auto;
}

article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 23px;
    color: #000000;
}

article .news_resumo{
    font-size: 13px;
    color: #5c5c5c;
    line-height: 20px; /*espaçamento entre as frases*/
    margin-bottom: 30px;
}

/*footer*/

footer{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_banner{
    display: flex;
}

.banner-1, .banner-2, .banner-3{
    flex: 1;
    color: #ffffff;
    padding: 20px;
}

.banner-1{
    background-color: #39aae1;
}

.banner-2{
    background-color: #0079c7;
}

.banner-3{
    background-color: #2b4c99;
}

.footer_area{
    display:flex;
}

.footer-areaitem{
    flex: 1;
    color: #FFFFFF;
}

.flexColumn{
    flex-direction: column;
}

footer .widget_title_text{
    color: #FFFFFF;
}

.footer-copy{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border-top: 1px solid #2c2c2c;
    height: 40px;
    color: #5c5c5c;
    line-height: 40px;
    font-size: 12px;
}

/*RESPONSIVO*/

@media (max-width:600px){
    .banner_headline{
        padding: 20px;
    }

    .banner_headline h1{
        font-size: 55px;
    }

    .banner_headline h2{
        font-size: 17px;
    }

    .banner_options{
        height: auto;
        flex-direction: column;
    }

    #noticias{
        margin-top: 100px;
    }

    .container{
        flex-direction: column;
    }

    #noticias section, #noticias aside{
        padding: 20px;
    }

    .footer_banner{
        flex-direction: column;
    }

    .footer_area{
        flex-direction: column;
        padding: 20px;
    }

    header .container{
        flex-direction: row;
    }

    nav ul{
        flex-direction: column;
        display: none; /*para não aparecer o menu*/
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
    }

    header {
        height: auto;
    }

    .logo{
        padding-left: 20px;
    }

    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}